<%- include('header.ejs') %> 
    
<form action="/contactProc" method="post" class="contact-form">
    <div class="form-section">
        <h2>문의하기</h2>
        <ul>
            <li><label for="name">이름:</label>
                <input type="text" name="name" id="name" required>
            </li>
            <li><label for="phone">연락처:</label>
                <input type="text" name="phone" id="phone" required>
            </li>
            <li><label for="email">이메일:</label>
                <input type="email" name="email" id="email" required>
            </li>
            <li><label for="memo">내용:</label>
                <textarea name="memo" id="memo" cols="50" rows="10"></textarea>
            </li>
            <li>
                <button type="submit">문의하기</button>
            </li>
        </ul>
    </div>
</form>

<%- include('footer.ejs') %>     