<%- include('header.ejs') %> 

    <div class="contact-info">
        <h2>회사 정보</h2>
        <ul>
            <li>이름 : DataSolution</li>
            <li>이메일 : datasolution@gmail.com</li>
            <li>주소 : 서울특별시 강남구 논현동 261</li>
        </ul>
    </div>

<%- include('footer.ejs') %>     
